html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.scss')
  body
    div(class="container")
      h1= title
      <form method="post" action="/tone-data">
        textarea( name="text" class="main-input")
        <input type="submit">
      </form>
